body {
  font-family: 'Azeret Mono', sans-serif;
}


/************* NAVBAR ************/

.form-inline {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.cart-svg {
  height: 30px;
  width: 30px;
  margin-right: 6%;
}

.logo-small-div {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.user {
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 25px;
}

.home {
  margin-left: 20px;
}



/************* FIRST CONTAINER ************/

.first-container {
  background: #F3F2F2;
  width: 1480px;
  margin-top: 100px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.first-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  bottom: 1%;
  height: 86px;
  width: 258px;
  border-radius: 30px;
  background: black;
  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.text-first {
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 149px;
  height: 447px;
  width: 500px;
  margin-left: 204px;
  margin-top: 90px;
}

.img-first {
  height: fit-content;
}

/************* SECOND CONTAINER ************/

.second-container {
  background: #F3F2F2;
  height: 998px;
  margin-top: 300px;
  justify-content: center;
}

.first-h1 {
  font-size: 128px;
  font-weight: 700;
  line-height: 149px;
  text-align: center;

}

.second-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
}

.best-seller {
  background: black;
  height: 86px;
  width: 338px;
  border-radius: 30px;
  justify-content: center;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  margin: 3% auto 5% auto;
}

.second-image-wrapper {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

/************* THIRD CONTAINER ************/

.third-container {
  background: #F3F2F2;
  height: 998px;
  padding-top: 50px;
  margin-top: 300px;
}

.category {
  height: 86px;
  width: 264px;
  border-radius: 30px;
  background: black;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5% auto 5% auto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  display: flex;
}

.img-wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.office {
  text-align: center;
}

.office-h2 {
  margin-top: 50px;
}

.home {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.home-h2 {
  margin-top: 50px;
}

.personal {
  text-align: center;
}

.personal-h2 {
  margin-top: 50px;
}

.see-more {
  height: 40px;
  width: 182px;
  border-radius: 30px;
  background: black;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.arrow {
  background-color: white;
  border-radius: 40px;
  margin-left: 10px;
}

/************* FOURTH CONTAINER ************/

.fourth-container {
  background: #F3F2F2;
  height: 998px;
  margin-top: 300px;

}

.heading-text {
  font-size: 124px;
  font-weight: 700;
  line-height: 145px;
  text-align: center;
}

.img-fourth {
  justify-content: center;
  align-items: center;
  display: flex;
}

.img4 {
  width: 1950px;
}

.text-fourth {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  margin-top: 40px;
  margin-left: 70px;
  margin-right: 70px;
}

/************* FIFTH CONTAINER ************/

.fifth-container {
  background: #F3F2F2;
  height: 850px;
  margin-top: 300px;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

.fifth-img {
  margin-top: 50px;
}

.quick-nav {
  margin-top: 50px;
}

.quick-nav-h2 {
  margin-bottom: 50px;
}

.knowledge-base {
  margin-top: 50px;
}

.knowledge-base-h2 {
  margin-bottom: 50px;
}

.information {
  margin-top: 50px;
}

.information-h2 {
  margin-bottom: 88px;
}

.your-email-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.your-email {
  background: #E0E0E0;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  height: 130px;
  width: 718px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.your-email-p {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}

.email-hr {
  border: 4px;
  color: black;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  margin-top: 180px;
  height: fit-content;
  width: fit-content;
}
